.container {
  margin-left: 20%;
}

header {
  font-size: 30px;
  background-color: orangered;
  color: white;
  width: 100%;
  height: 30px;
}

.event {
  width: 50%;
  margin-top: 20px;
  border: 1px solid white;
  background-color: gainsboro;
}

.fired {
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  background-color: orangered;
  border: 1px solid orangered;
  color: white;
  text-align: center;
  padding: 2px;
}